.banner-container {
    display: flex;
    justify-content: center;
    margin-top: 15px;
}

.banner-wrapper {
    position: relative;
    width: 80%;
    max-width: 800px;
}

.banner-image {
    width: 100%;
    height: auto;
    border-radius: 5px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.banner-button {
    position: absolute;
    bottom: 5%;
    left: 17%;
    transform: translate(-50%, 0);
    background-color: #d8d8d8;
    color: rgb(0, 0, 0);
    font-size: 11px;
    border: none;
    padding: 6px 50px;
    border-radius: 5px;
    cursor: pointer;
    transition: transform 0.3s ease, background-color 0.3s ease;
}

.banner-button:hover {
    background-color: #9b9b9b;
}