/* Kontener siatki produktów */
.product-grid {
    display: grid;
    grid-template-columns: repeat(5, 1fr); /* 5 kolumn */
    gap: 25px; /* Odstępy */
    padding: 0.83%;
    margin-left: 16%; /* Margines po lewej stronie ekranu */
    margin-right: 16%;
    align-items: stretch; /* Ensures items stretch to match their own height */
}

/* Styl pojedynczego elementu */
.product-item {
    background-color: white;
    border: 0.5px solid #aaaaaa;
    border-radius: 8px;
    text-align: left;
    cursor: pointer;
    position: relative;
    height: 350px;
}

.product-item:hover {
    border: 3px solid rgb(121, 121, 121);
    color: #00916E;
    transform: scale(1.02);
}

.product-image {
    width: 95%;
    height: 200px;
    top:0;
    position: absolute;
}

.product-item h3, .product-item p {
    margin: 2%; /* Marginesy między nazwą a ceną */
}

.product-item h3, .product-image {
    margin-top: 20px; /* Marginesy na górze */
    margin-bottom: 20px; /* Marginesy na dole */
}

.product-name{
    padding-top: 30px;
    /* padding-bottom: 20px; */
    position: absolute;
}

.product-price{
    position: absolute;
    bottom: 10px;
    font-size: 20px;
    color: #2d2d2d;
}

.filters-box{
    /* display: flex; */
    position: absolute;
    border: 0.5px solid #aaaaaa;
    border-radius: 8px;
    width: 10%;
    background-color: rgb(252, 252, 252);
    margin-left: 2%;
    margin-top:2%;
    padding: 0.83%;

}

.wrapper-flap-two-columns {
    position: relative;
}


.slider {
    width: 100%;
    height: 10px;
    background: #ddd;
    outline: none;
    opacity: 0.7;
    box-sizing: border-box;
    transition: opacity 0.2s; /* Standardized shorthand */
}

.slider:hover {
    opacity: 1;
}

/* Track styles for WebKit browsers */
.slider::-webkit-slider-runnable-track {
    width: 100%;
    height: 10px;
    background: #bdbdbd;
    border-radius: 3px;
}

/* Track styles for Mozilla browsers */
.slider::-moz-range-track {
    width: 100%;
    height: 10px;
    background: #bdbdbd;
    border-radius: 3px;
}

/* Track styles for Internet Explorer */
.slider::-ms-track {
    width: 100%;
    height: 10px;
    background: transparent;
    border-color: transparent;
    color: transparent;
}

/* Thumb styles for WebKit browsers */
.slider::-webkit-slider-thumb {
    width: 25px;
    height: 25px;
    background-color: #00916E;
    cursor: pointer;
    border-radius: 50%; /* Rounded thumb */
    border: 2px solid #000000; /* Optional for cleaner look */
    -webkit-appearance: none;
    margin-top: -3px; /* Center thumb vertically */
}

/* Thumb styles for Mozilla browsers */
.slider::-moz-range-thumb {
    width: 25px;
    height: 25px;
    background: #00916E;
    cursor: pointer;
    border-radius: 50%; /* Rounded thumb */
    border: none;
}

/* Thumb styles for Internet Explorer */
.slider::-ms-thumb {
    width: 25px;
    height: 25px;
    background: #00916E;
    cursor: pointer;
    border-radius: 50%; /* Rounded thumb */
    border: none;
}


