/* Kontener siatki produktów */
.product-grid {
    display: grid;
    grid-template-columns: repeat(5, 1fr); /* 4 kolumny */
    gap: 25px; /* Odstępy */
    padding: 16px;
    margin-left: 300px; /* Margines po lewej stronie ekranu */
}

/* Styl pojedynczego elementu */
.product-item {
    background-color: #ccc; /* Szary kolor */
    border: 1px solid #aaa;
    border-radius: 8px;
    text-align: center; /* Wyśrodkowanie tekstu */
    padding: 16px; /* Odstępy wewnętrzne */
    cursor: pointer;
}

.product-image {
    width: 100%;
    height: 200px;
}

.product-item h3, .product-item p {
    margin: 10px 0; /* Marginesy między nazwą a ceną */
}
