.product-container {
    display: flex;
    align-items: flex-start;
    gap: 2%;
    flex-wrap: wrap;
}

.product-image.left-aligned {
    width: 25%;
    height: auto;
    margin-right: 1%;
    margin-left: 7%;
}

.product-info-box {
    background-color: rgba(255, 255, 255, 0.8);
    border: 2px solid #ccc;
    border-radius: 8px;
    padding: 10px;
    width: 30%;
    box-sizing: border-box;
}

.product-action-box {
    background-color: rgba(240, 240, 240, 1);
    border: 2px solid #ccc;
    border-radius: 8px;
    padding: 15px;
    width: 20%;
    box-sizing: border-box;
    text-align: center;
    margin-top: 5%;
}

.quantity-container {
    margin-bottom: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.quantity-input {
    width: 50%;
    padding: 5px;
}

.add-to-cart-button {
    padding: 10px 20px;
    background-color: #00916e;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    width: 100%;
}

.add-to-cart-button:hover {
    background-color: #007d6c;
}