.product-container {
    display: flex;            /* Elementy w jednym wierszu */
    align-items: flex-start;  /* Wyrównanie elementów do góry */
    gap: 2%;                  /* Odstęp między sekcjami */
    flex-wrap: wrap;          /* Umożliwia zawijanie elementów na mniejszych ekranach */
}

.product-image.left-aligned {
    width: 25%;               /* Szerokość obrazka */
    height: auto;             /* Zachowanie proporcji */
    margin-right: 2%;         /* Odstęp od sekcji obok */
    margin-left: 2%;          /* Odstęp od lewej krawędzi ekranu */
}

.product-info-box {
    background-color: rgba(255, 255, 255, 0.8);
    border: 2px solid #ccc;
    border-radius: 8px;
    padding: 10px;
    width: 45%;               /* Szerokość ramki */
    box-sizing: border-box;
}

.product-action-box {
    background-color: rgba(240, 240, 240, 1); /* Jasne tło */
    border: 2px solid #ccc;
    border-radius: 8px;
    padding: 15px;
    width: 20%;               /* Szerokość ramki */
    box-sizing: border-box;
    text-align: center;       /* Wyśrodkowanie elementów wewnątrz */
    margin-top: 5%;          /* Obniżenie ramki o 10% */
}

.quantity-container {
    margin-bottom: 10px;
    display: flex;
    justify-content: center;  /* Wyśrodkowanie ilości w ramce */
    align-items: center;
    gap: 10px;                /* Odstęp między etykietą a polem input */
}

.quantity-input {
    width: 50%;               /* Szerokość input jako 50% rodzica */
    padding: 5px;
}

.add-to-cart-button {
    padding: 10px 20px;
    background-color: #00916e;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    width: 100%;              /* Przyciski zajmują pełną szerokość sekcji */
}

.add-to-cart-button:hover {
    background-color: #007d6c;
}