
.welcome-message{
    font-size: 24px;
    font-weight: bold;
    margin: 18px;
}

.info-box{
    display: inline-flex;
    background-color: #f0f0f0;
    border-radius:3px;
    border : 1px solid #ccc;
    padding: 5px;
    margin: 5px;
}