<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="wms_test" content="width=device-width, initial-scale=1.0">
    <title>MagazynMaster</title>
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'styles.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'user_site.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'productpages.css' %}">
    <link rel="icon" type="image/x-icon" href="{% static 'images/logofav.png' %}">
</head>
<body>
    <header>
        
    </header>

    <div class="orders-box">
        <div class="order-box">
            <div class="order-header">
                Dziękujemy za zakupy!
                Zamowienie nr. {{ order.order_id }}
            </div>
            Zamówiono: {{ order.created_at }}
            <br>
            {% for product in order.orderproduct_set.all %}
                <div class = "order-product-box">                
                    {{ product.order_product.product_name }} - {{ product.order_product_quantity }} sztuk 
                </div>
                <br>
            {% endfor %}
            <br>
            Adres dostawy: {{ order.city }}{{ order.address_street }}, {{ order.address_building_number }}, {{ order.address_apartment_number }}
        </div>
        <br>
    </div>
    
    <footer class="bottom-bar">
        <span class="bottom-bar-text">OMNI Productions</span>
        <span class="bottom-bar-text">All rights reserved</span>
    </footer>
</body>
</html>