<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="wms_test" content="width=device-width, initial-scale=1.0">
    <title>MagazynMaster</title>
</head>
<body>
    <header>
        
    </header>

    <div>
        <div style="display: inline-block;
                padding: 5px;
                margin: 5px;
                width: 40%;">
            <div style="font-size: 30px;
                font-weight: bold;
                color: #00916E;">
                Dziękujemy za zakupy!
            </div>
                <div style="font-size: 15px;">
                    Zamowienie nr. {{ order.order_id }}
                    <br>
                    Zamówiono: {{ order.created_at }}
                </div>
            <br>
            {% for product in order.orderproduct_set.all %}
                <div style="display: block;
                    background-color: #f0f0f0;
                    border-radius:3px;
                    border : 1px solid #ccc;
                    padding: 5px;
                    width:90%;
                    margin-right: 50px;">                
                    {{ product.order_product.product_name }} - Ilość: {{ product.order_product_quantity }}
                </div>
                <br>
            {% endfor %}
            <br>
            <div style="font-size: 18px;">
                {% if order.address_apartment_number != None %}
                Adres dostawy: {{ order.city }}, {{ order.address_street }} {{ order.address_building_number }}, {{ order.address_apartment_number }}
                {% else %}
                Adres dostawy: {{ order.city }}, {{ order.address_street }} {{ order.address_building_number }}
                {% endif %}
            </div>
        </div>
        <br>
    </div>
    
    <footer style="position: relative;        
    bottom: 0;                
    left: 0;                  
    width: 100%;              
    background-color: #00916e; 
    color: white;             
    text-align: center;       
    padding: 20px 0;          
    font-size: 9px;
    z-index: 1000;
    border-radius: 0;         
    margin-top: 30px;">
        <span style="font-weight: bold;"   
            >OMNI Productions  
        </span>
    </footer>
</body>
</html>