<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="wms_test" content="width=device-width, initial-scale=1.0">
    <title>MagazynMaster</title>
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'styles.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'mainpage.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'productpages.css' %}">
    <link rel="icon" type="image/x-icon" href="{% static 'images/logofav.png' %}">
</head>
<body>
    <header>
        <div class="highest_div">
            <a href={%url 'index'%} class="logo-button">
                <img src="{% static 'images/logo.png' %}" alt="Logo firmy" class="logo-image">
            </a>
            <form class="search-bar" method="POST">
                {% csrf_token %}
                <input type="text" name="query" placeholder="Wyszukaj..." class="search-input">
                <button type="submit" class="search-button">
                    <img src="{% static 'images/lupa.png' %}" alt="Szukaj" class="search-icon">
                </button>
            </form>
            
            <div class="header-buttons">
                <button class="icon-button" onclick="window.location.href='{% url 'user_site' %}'">
                    <img src="{% static 'images/user_site_icon.png'%}" alt="Strona uzytkownika" class="icon-image">
                </button>           

                <button class="icon-button" onclick="window.location.href='{% url 'koszyk' %}'">
                    <img src="{% static 'images/sklep.png'%}" alt="Sklep" class="icon-image">
                </button>

                <button class="icon-button" onclick="window.location.href='{% url 'logout' %}'">
                    <img src="{% static 'images/wyloguj.png' %}" alt="Wyloguj" class="icon-image">
                </button>
            </div>
        </div>

        <div tabindex="-1"></div>
            
        <div class="second_div">
            <div class="buttons">
                <button onclick="location.href='{% url 'category' 'technika' %}'" class="button">Technika</button>
                <button onclick="location.href='{% url 'category' 'mieszkanie' %}'" class="button">Mieszkanie</button>
                <button onclick="location.href='{% url 'category' 'budownictwo' %} '" class="button">Budownictwo</button>
                <button onclick="location.href='{% url 'category' 'ogrod' %}'" class="button">Ogród</button>
                <button onclick="location.href='{% url 'category' 'lazienka' %}'" class="button">Łazienka</button>
                <button onclick="location.href='{% url 'category' 'kuchnia' %}'" class="button">Kuchnia</button>
            </div>    
        </div>
        
    </header>

    <div>
        <div style="display: inline-block;
                padding: 5px;
                margin: 5px;
                width: 40%;">
            <div style="font-size: 30px;
                font-weight: bold;
                color: #00916E;">
                Dziękujemy za zakupy!
            </div>
                <div style="font-size: 15px;">
                    Zamowienie nr. {{ order.order_id }}
                    <br>
                    Zamówiono: {{ order.created_at }}
                </div>
            <br>
            {% for product in order.orderproduct_set.all %}
                <div style="display: block;
                    background-color: #f0f0f0;
                    border-radius:3px;
                    border : 1px solid #ccc;
                    padding: 5px;
                    width:90%;
                    margin-right: 50px;">                
                    {{ product.order_product.product_name }} - Ilość: {{ product.order_product_quantity }}
                </div>
                <br>
            {% endfor %}
            <br>
            <div style="font-size: 18px;">
                {% if order.address_apartment_number != None %}
                Adres dostawy: {{ order.city }}, {{ order.address_street }} {{ order.address_building_number }}, {{ order.address_apartment_number }}
                {% else %}
                Adres dostawy: {{ order.city }}, {{ order.address_street }} {{ order.address_building_number }}
                {% endif %}
            </div>
        </div>
        <br>
    </div>
    
    <footer style="position: relative;        
    bottom: 0;                
    left: 0;                  
    width: 100%;              
    background-color: #00916e; 
    color: white;             
    text-align: center;       
    padding: 20px 0;          
    font-size: 9px;
    z-index: 1000;
    border-radius: 0;         
    margin-top: 30px;">
        <span style="font-weight: bold;"   
            >OMNI Productions  
        </span>
    </footer>
</body>
</html>
