<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="wms_test" content="width=device-width, initial-scale=1.0">
    <title>WMS</title>
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'styles.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'order_site.css' %}">
    <link rel="icon" type="image/x-icon" href="{% static 'images/logofav.png' %}">
</head>
<body>
    <header>
        <div class="highest_div">
            <a href={%url 'index'%} class="logo-button">
                <img src="{% static 'images/logo.png' %}" alt="Logo firmy" class="logo-image">
            </a>
            <div class="search-bar">
                <input type="text" placeholder="Wyszukaj..." class="search-input">
                <button class="search-button">
                    <img src="{%static 'images/lupa.png'%}" alt="Szukaj" class="search-icon">
                </button>
            </div>
            
            <div class="header-buttons">
                <button class="icon-button" onclick="window.location.href='{% url 'user_site' %}'">
                    <img src="{% static 'images/user_site_icon.png'%}" alt="Strona uzytkownika" class="icon-image">
                </button>           

                <button class="icon-button" onclick="window.location.href='{% url 'koszyk' %}'">
                    <img src="{% static 'images/sklep.png'%}" alt="Sklep" class="icon-image">
                </button>

                <button class="icon-button" onclick="window.location.href='{% url 'logout' %}'">
                    <img src="{% static 'images/wyloguj.png' %}" alt="Wyloguj" class="icon-image">
                </button>
            </div>
        </div>


        <div tabindex="-1"></div>
            
        <div class="second_div">
            <div class="buttons">
                <button onclick="location.href='{% url 'category' 'technika' %}'" class="button">Technika</button>
                <button onclick="location.href='{% url 'category' 'mieszkanie' %}'" class="button">Mieszkanie</button>
                <button onclick="location.href='{% url 'category' 'budownictwo' %} '" class="button">Budownictwo</button>
                <button onclick="location.href='{% url 'category' 'ogrod' %}'" class="button">Ogród</button>
                <button onclick="location.href='{% url 'category' 'lazienka' %}'" class="button">Łazienka</button>
                <button onclick="location.href='{% url 'category' 'kuchnia' %}'" class="button">Kuchnia</button>
            </div>      
        </div>
        
    </header>
    <h2 style="text-align: center;">Twoje zamówienie</h2>

    {% if cart_products %}
        <ul class="cart-list">
            {% for cart_product in cart_products %}
                <li class="cart-item">
                    <div class="cart-item-container">
                        <div class="cart-item-image">
                            <img src="{% static 'images/products/' %}{{ cart_product.product.product_image }}" 
                                 alt="{{ cart_product.product.product_name }}">
                        </div>
                        <div class="cart-item-content">
                            <div class="cart-item-info">
                                <div class="product-name">
                                    <strong>{{ cart_product.product.product_name }}</strong>
                                </div>
                                    <div class="big-price"> 
                                        {{ cart_product.total_price|floatformat:2 }} zł<br>
                                    </div>
                                    {% if cart_product.product_price|floatformat:2 != cart_product.total_price|floatformat:2 %}
                                    za sztukę: {{ cart_product.product_price|floatformat:2 }} zł
                                    <br>
                                    <br>

                                    {% endif %}
                                    Ilość: {{ cart_product.product_quantity }}
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </li>
            {% endfor %}
        </ul>

        <p class="cart-total">
            <strong>
                Całkowita cena: {{ total_price|floatformat:2 }} zł
            </strong>
            <br>
        <h style="font-size:14px" >w tym dostawa 9 zł oraz VAT </h>
        </p>

        {% comment %} <div class="cart-actions">
            <form action="{% url 'order'  %}" method="post">
                {% csrf_token %}
                <button type="submit" class="order-button">Zamów</button>
            </form>
        </div> {% endcomment %}
        
        <div class="form">
        <form action="{% url 'order_complete' %}" method="post">
            {% csrf_token %}
            <div class="form-bigger-group">
                <div class="form-group">
                    <label class="form-label" for="first_name">Imię</label>
                    <input type="text" id="first_name" name="first_name" class="form-control" value="{{user.first_name}}" placeholder="np. Jan" required>
                </div>
                <div class="form-group">
                    <label class="form-label" for="last_name">Nazwisko</label>
                    <input type="text" id="last_name" name="last_name" class="form-control" value="{{user.last_name}}" placeholder="np. Kowalski" required>
                </div>
                <div class="form-group">
                    <label class="form-label" for="email">E-mail</label>
                    <input type="email" id="email" name="email" class="form-control" value="{{user.email}}" placeholder="np. jan@gmail.com" required>
                </div>
            </div>
            <div class="form-bigger-group">
                <legend>Opcjonalnie</legend>
                <div class="form-group">
                    <label class="form-label" for="company">Firma</label>
                    <input type="text" id="company" name="company" class="form-control" value="{{ last_order.business_name }}" placeholder="np. Firma sp. z o.o.">
                </div>
                <div class="form-group">
                    <label class="form-label" for="NIP">NIP</label>
                    <input type="text" id="NIP" name="NIP" class="form-control" value="{{ last_order.nip }}" placeholder="np. 1234567890">
                </div>
                <div class="form-group">
                    <label class="form-label" for="area_code">Kierunkowy</label>
                    <select id="area_code" name="area_code" class="form-control">
                        <option value="+48" selected>PL (+48)</option>
                        <option value="+49">DE (+49)</option>
                        <option value="+44">UK (+44)</option>
                        <option value="+1">USA (+1)</option>
                        <option value="+1">CA (+1)</option>
                        <option value="+61">AU (+61)</option>
                        <option value="+33">FR (+33)</option>
                        <option value="+39">IT (+39)</option>
                        <option value="+34">ES (+34)</option>
                        <option value="+81">JP (+81)</option>
                        <option value="+86">CN (+86)</option>
                        <option value="+91">IN (+91)</option>
                        <option value="+55">BR (+55)</option>
                    </select>                    
                </div>
                <div class="form-group">
                    <label class="form-label" for="phone_number">Telefon komórkowy</label>
                    <input type="tel" id="phone_number" name="phone_number" class="form-control" value="{{ last_order.phone_number }}" placeholder="np. 000000000" pattern="[0-9]{9}">
                </div>
            </div>
            <div class="form-bigger-group">
            <div class="form-group">
                <label class="form-label" for="country">Kraj</label>
                <input type="text" id="country" name="country" class="form-control" value="Polska" required>
            </div>
            <div class="form-group">
                <label class="form-label" for="street">Ulica</label>
                <input type="text" id="street" name="street" class="form-control" value="{{ last_order.address_street }}" placeholder="np. Przemysłowa" required>
            </div>
            <div class="form-group">
                <label class="form-label" for="building_number">Nr budynku</label>
                <input type="text" id="building_number" name="building_number" class="form-control" value="{{ last_order.address_building_number }}"placeholder="np. 10" required>
            </div>
            <div class="form-group">
                <label class="form-label" for="apartment_number">Nr mieszkania</label>
                {% if last_order.address_apartment_number != None %}
                <input type="text" id="apartment_number" name="apartment_number" class="form-control" value="{{ last_order.address_apartment_number }}" placeholder="np. 15">
                {% else %}
                <input type="text" id="apartment_number" name="apartment_number" class="form-control" placeholder="np. 15">
                {% endif %}
            </div>
            <div class="form-group">
                <label class="form-label" for="zip_code">Kod pocztowy</label>
                <input type="text" id="zip_code" name="zip_code" class="form-control" value="{{ last_order.zip_code }}" placeholder="np. 00-000" required>
            </div>
            <div class="form-group">
                <label class="form-label" for="city">Miejscowość</label>
                <input type="text" id="city" name="city" class="form-control" value="{{ last_order.city }}" placeholder="np. Warszawa" required>
            </div>
            </div>

            <div class="form-bigger-group">

            <div style="font-size:25px;"> Metody dostawy </div>

            <div class="form-group-radio">
                <input type="radio" id="delivery_courier_DHL" name="delivery_courier" class="form-control-radio">
                <label for="delivery_courier_DHL">(+9zł) Kurier DHL</label>
            </div>
            <div class="form-group-radio">
                <input type="radio" id="delivery_courier_UPS" name="delivery_courier" class="form-control-radio">
                <label for="delivery_courier_UPS">(+9zł) Kurier UPS</label>
            </div>
            <div class="form-group-radio">
                <input type="radio" id="delivery_courier_FedEx" name="delivery_courier" class="form-control-radio">
                <label for="delivery_courier_FedEx">(+9zł) Kurier FedEx</label>
            </div>
            <div class="form-group-radio">
                <input type="radio" id="delivery_courier_PocztaPolska" name="delivery_courier" class="form-control-radio">
                <label for="delivery_courier_PocztaPolska">(+9zł) P. Poczta Polska</label>
            </div>
            <div class="form-group-radio">
                <input type="radio" id="delivery_courier_Paczkomat" name="delivery_courier" class="form-control-radio">
                <label for="delivery_courier_Paczkomat">(+9zł) Paczkomat InPost</label>
            </div>            
            </div>

            <div class="form-bigger-group">
            <div class="form-group">
                <label class="form-label" for="credit_card_number">Numer karty kredytowej</label>
                <input type="text" id="credit_card_number" name="credit_card_number" class="form-control" placeholder="np. 1234 5678 9012 3456" required>
            </div>
            <div class="form-group">
                <label class="form-label" for="credit_card_expiry">Ważna do</label>
                <input type="text" id="credit_card_expiry" name="credit_card_expiry" class="form-control" placeholder="MM/RR" required>
            </div>
            <div class="form-group">
                <label class="form-label" for="credit_card_code">Kod CVV/CVC</label>
                <input type="text" id="credit_card_code" name="credit_card_code" class="form-control" placeholder="np. 123" required>
            </div>
            <div class="order-button-container">
                <button type="submit" class="order-button">Zamów</button>
            </div>
            </div>
        </form>
        </div>
        
    {% else %}
        <p style="text-align: center;">Twoje zamówienie jest puste.</p>
    {% endif %}

    <footer class="bottom-bar">
        <span class="bottom-bar-text">OMNI Productions®2025</span>
        <span class="bottom-bar-text">All rights reserved</span>
    </footer>

</body>
</html>