<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="wms_test" content="width=device-width, initial-scale=1.0">
    <title>{{ product.product_name }}</title>
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'styles.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'product_detail.css' %}">
</head>
<body>
    <header>
        <div class="highest_div">
            <a href={%url 'index'%} class="logo-button">
                <img src="{% static 'images/logo.png' %}" alt="Logo firmy" class="logo-image">
            </a>
            <form action="{% url 'search' %}" class="search-bar" method="POST">
                {% csrf_token %}
                <input type="text" name="query" placeholder="Wyszukaj..." class="search-input">
                <button type="submit" class="search-button">
                    <img src="{% static 'images/lupa.png' %}" alt="Szukaj" class="search-icon">
                </button>
            </form>
            
            <div class="header-buttons">
                <button class="icon-button" onclick="window.location.href='{% url 'user_site' %}'">
                    <img src="{% static 'images/user_site_icon.png'%}" alt="Strona uzytkownika" class="icon-image">
                </button>           

                <button class="icon-button" onclick="window.location.href='{% url 'koszyk' %}'">
                    <img src="{% static 'images/sklep.png'%}" alt="Sklep" class="icon-image">
                </button>

                <button class="icon-button" onclick="window.location.href='{% url 'logout' %}'">
                    <img src="{% static 'images/wyloguj.png' %}" alt="Wyloguj" class="icon-image">
                </button>
            </div>
        </div>


        <div tabindex="-1"></div>
            
        <div class="second_div">
            <div class="buttons">
                <button onclick="location.href='{% url 'category' 'technika' %}'" class="button">Technika</button>
                <button onclick="location.href='{% url 'category' 'mieszkanie' %}'" class="button">Mieszkanie</button>
                <button onclick="location.href='{% url 'category' 'budownictwo' %} '" class="button">Budownictwo</button>
                <button onclick="location.href='{% url 'category' 'ogrod' %}'" class="button">Ogród</button>
                <button onclick="location.href='{% url 'category' 'lazienka' %}'" class="button">Łazienka</button>
                <button onclick="location.href='{% url 'category' 'kuchnia' %}'" class="button">Kuchnia</button>
            </div>      
        </div>
        
    </header>


    <h1>{{ product.product_name }}</h1>
    <div style="text-align: center;"> Nr. produktu:  {{ product.id }} </div>
    <div class="product-container">
        <img class="product-image left-aligned" src="{% static 'images/products/' %}{{ product.product_image }}" alt="{{ product.product_name }}">

        <div class="product-info-box">
            
            <p><strong>Kategoria:</strong> {{ product.product_category.category_name }}</p>
            <p><strong>Producent:</strong> {{ product.product_market.supplier }}</p>
            <p style="text-align: justify;
  text-justify: inter-word;"> {{ product.product_description }}</p>
        </div>
    
        <div class="product-action-box">
            {% if product.product_discount == 0 %}
                <div class="product-price">
                    <p><strong></strong> {{ product.product_price }} zł</p>
                </div>
            {% endif %}

            {% if product.product_discount != 0 %}
                <div class="product-price">
                    <strong style="color: #ff1d1d; font-size: 25px; margin-left: 75%;"> -{{ product.product_discount }} % </strong>
                    <p><strong></strong><strong style="color: #ff1d1d">{{ product.product_price_discounted }} zł </strong><strong><s>{{ product.product_price }} zł</s></strong></p>
                </div>
            {% endif %}
            cena zawiera VAT {{product.tax}}%
            <form action="{% url 'add_to_cart' product.id %}" method="post">
                {% csrf_token %}
                <div class="quantity-container">
                    <label for="quantity">Ilość:</label>
                    <input type="number" id="quantity" name="quantity" class="quantity-input" value="1" min="1">
                </div>
                <button type="submit" class="add-to-cart-button">Dodaj do koszyka</button>
            </form>
        </div>
    </div>
    <footer class="bottom-bar">
        <span class="bottom-bar-text">OMNI Productions®2025</span>
        <span class="bottom-bar-text">All rights reserved</span>
    </footer> 
    
</body>

</html>
