<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="wms_test" content="width=device-width, initial-scale=1.0">
    <title>MagazynMaster</title>
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'styles.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'user_site.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'productpages.css' %}">
    <link rel="icon" type="image/x-icon" href="{% static 'images/logofav.png' %}">
</head>
<body>
    <header>
        <div class="highest_div">
            <a href={%url 'index'%} class="logo-button">
                <img src="{% static 'images/logo.png' %}" alt="Logo firmy" class="logo-image">
            </a>    

            <form action="{% url 'search' %}" class="search-bar" method="POST">
                {% csrf_token %}
                <input type="text" name="query" placeholder="Wyszukaj..." class="search-input">
                <button type="submit" class="search-button">
                    <img src="{% static 'images/lupa.png' %}" alt="Szukaj" class="search-icon">
                </button>
            </form>
            
            <div class="header-buttons">
                <button class="icon-button" onclick="window.location.href='{% url 'user_site' %}'">
                    <img src="{% static 'images/user_site_icon.png'%}" alt="Strona uzytkownika" class="icon-image">
                </button>           

                <button class="icon-button" onclick="window.location.href='{% url 'koszyk' %}'">
                    <img src="{% static 'images/sklep.png'%}" alt="Sklep" class="icon-image">
                </button>

                <button class="icon-button" onclick="window.location.href='{% url 'logout' %}'">
                    <img src="{% static 'images/wyloguj.png' %}" alt="Wyloguj" class="icon-image">
                </button>
            </div>
        </div>

        <div tabindex="-1"></div>
            
        <div class="second_div">
            <div class="buttons">
                <button onclick="location.href='{% url 'category' 'technika' %}'" class="button">Technika</button>
                <button onclick="location.href='{% url 'category' 'mieszkanie' %}'" class="button">Mieszkanie</button>
                <button onclick="location.href='{% url 'category' 'budownictwo' %} '" class="button">Budownictwo</button>
                <button onclick="location.href='{% url 'category' 'ogrod' %}'" class="button">Ogród</button>
                <button onclick="location.href='{% url 'category' 'lazienka' %}'" class="button">Łazienka</button>
                <button onclick="location.href='{% url 'category' 'kuchnia' %}'" class="button">Kuchnia</button>
            </div>    
        </div>
        
    </header>

    <div class="welcome-message"> 
        Witaj, {{ user.first_name }}
        <br>
        <br>

        Dane osobowe
    </div>

    <div class=info-box> E-mail: {{ user.email }}
        <br>
        Imię i Nazwisko: {{user.first_name}} {{user.last_name}}
     </div>

     <form>
        <label for="favcolor">Twój ulubiony kolor:</label>
        <input type="color" id="favcolor" name="favcolor" value="#00916E">
      </form>
    <div class="welcome-message"> 
        Zamówienia
    </div>

    <div>
    {% for order in orders %}
        <div class="order-box">
            <div class="order-header">
                Zamowienie nr. {{ order.order_id }}
            </div>
            Zamówiono: {{ order.created_at }}
            <br>
            {% for product in order.orderproduct_set.all %}
                <div class = "order-product-box">                
                    <img class="product-icon" src="{% static 'images/products/' %}{{ product.order_product.product_image }}" alt="{{ product.order_product.product_name }}">
                    &emsp;&ensp;{{ product.order_product.product_name }} - {{ product.order_product_price }} zł - {{ product.order_product_quantity }} sztuk 
                </div>
                <br>
            {% endfor %}
            <br>
            Status zamówienia: {{order.status}} 
            <br>
            Wartość całkowita zamówienia: {{ order.total_price }} zł
        </div>
        <br>
    {% endfor %}
    </div>
    
    <footer class="bottom-bar">
        <span class="bottom-bar-text">OMNI Productions</span>
        <span class="bottom-bar-text">All rights reserved</span>
    </footer>
</body>
</html>